@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
	p, li {
		font-family: Effra;
		letter-spacing: 0%;
	}

	h1 {
		font-family: Effra;
		letter-spacing: 0%;
	}

	h5 {
		font-family: "Inter", sans-serif;
		font-weight: 500;
		line-height: 29px;
		letter-spacing: 0%;
	}
}
