header {
	nav {
		height: 99px;
		display: flex;
		@extend %default-container-settings;
		justify-content: space-between;
		margin-top: 8px;

		a {
			color: $color-white;
			outline: none;
			text-decoration: none;
			transition: 1s;
		}

		a:link {
			color: $color-white;
		}

		a:visited {
			color: $color-white;
		}

		a:focus {
			border-bottom: 1px solid;
		}

		a:hover {
			border-bottom: 1px solid;
			font-size: 24px;
		}

		a:active {
			color: $color-grey;
		}

		.head-logo {
			.logo {
				@extend %logo-settings;
			}
		}

		.menu {
			color: $color-white;
			display: flex;
			font-size: 18px;
			text-align: center;

			p {
				margin-right: 40px;
				margin-top: 8px;
			}
		}

		.auth {
			display: flex;

			&__login {
				color: $color-white;
				margin-right: 40px;
				margin-top: 8px;
			}
			&__register {
				color: $color-black;
				background-color: $color-white;
				@include create-button(129px, 42px, 40px);
				font-size: 16px;
				font-weight: 400;
				line-height: 100%;
				transition: 0.1s;
			}

			&__register:active {
				background-color: $color-dark-green;
			}
		}
	}

	.login-menu {
		background-color: $color-white;
		width: 300px;
		height: 300px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		form {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			fieldset {
				margin-bottom: 20px;
			}

			button {
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-top: 70px;
			}
		}
	}

	.login-menu-hide {
		display: none;
	}

	
	.hero-content-wrapper {
		@extend %default-container-settings;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 338px;

		.content-text {
			justify-content: center;
			text-align: center;
			margin-top: 99px;

			h1 {
				font-size: 72px;
				color: $color-white;
				width: 100%;
				height: 81px;
				margin: 0;
			}

			p {
				font-size: 18px;
				color: $color-grey;
				width: 666px;
				height: 54px;
			}
		}

		.content-action {
			display: flex;
			justify-content: center;

			button {
				@include create-button(180px, 57px, 40px);
				background-color: $color-green;
				color: $color-black;
				font-weight: 700;
				line-height: 140%;
				box-shadow: 0px 0px 21px rgb(36, 36, 36);
				margin-top: 40px;
				transition: 0.1s;
			}

			button:active {
				background-color: $color-dark-lime;
			}

			.img-hero {
				display: flex;
				flex-direction: column-reverse;
				width: 99px;
				height: 70px;
				margin-top: 40px;
				margin-left: 18px;

				img {
					width: 28px;
					height: 34px;
					transform: rotate(107.94deg);
				}

				p {
					text-align: center;
					color: $color-white;
					font-size: 18px;
					transform: rotate(6deg);
					border: 1px dashed $color-white;
				}
			}
		}
	}

	.btn-hero-socmed {
		@extend %default-container-settings;
		margin-top: 94px;
		position: relative;
		width: 1076px;
		height: 178px;

		img {
			width: 314px;
			height: 82px;
		}

		.image1 {
			position: absolute;
			z-index: 4;
			transform: rotate(-4deg);
			left: 0px;
			top: 0px;
		}

		.image2 {
			position: absolute;
			z-index: 3;
			transform: rotate(2deg);
			left: 205px;
			top: 45px;
		}

		.image3 {
			position: absolute;
			z-index: 2;
			transform: rotate(-2deg);
			left: 453px;
			top: 3px;
		}

		.image4 {
			position: absolute;
			z-index: 1;
			transform: rotate(4deg);
			left: 727px;
			top: 41px;
		}
	}
}
